* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.lang {
    padding: 0.5% 1% 0.5%;
    margin-left: 50%;
}

body {
    background-color: rgba(214, 219, 223, 0.96);
}

.resume-contents {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section {
    grid-column: span 2;
    height: 100%;
    width: 100%;
    background-color: rgba(179, 0, 0, 1);
}

.right-section {
    grid-column: span 5;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 60px 0px 0px;
}

.left-section-contents {
    padding: 2rem 1rem;
    align-items: center;
}

.profile {
    width: 100%;
    border-bottom: 2px solid #1B2631;
}

.profile .profile-image {
    width: 60%;
    border-radius: 50%;
    align-content: center;
    margin-left: 20%;
    box-shadow: 1px 1px rgb(0, 0, 0);
}

.name {
    color: #ffffffff;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 1rem 0;
}

.profession {
    color: #FDB44B;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    padding-bottom: 1rem;
}


/* .contact-info { border-bottom: 2px solid #1B2631; } */

.left-title {
    color: #FDB44B;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-top: 3rem;
}

.contact-info {
    padding: .4rem 0;
    display: flow-root;
    align-items: left;
    color: #ffffffff;
    letter-spacing: 2px;
    font-size: 16px;
}

.referance-name {
    padding-top: 1.5rem;
    padding-bottom: .4rem;
    font-size: 18px;
    color: #F9E79F;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.referance-profession {
    font-size: 16px;
    color: #d6dbdfaf;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    padding-bottom: .4rem;
}

.right-section-contents {
    padding: 2rem 2rem;
}

.right-title {
    color: #70C6C7;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    position: relative;
}

.about-me {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 2rem;
    color: rgba(0, 0, 0, 1);
    padding-right: 2rem;
}

p.about-me-title {
    font-size: 24px;
    font-weight: bold;
    padding: 1rem 0rem;
    text-transform: uppercase;
    color: rgba(179, 0, 0, 1)
}

p.education {
    font-size: 24px;
    color: rgba(179, 0, 0, 1);
    padding-top: 2rem;
}

p.certificates {
    font-size: 24px;
    color: rgba(179, 0, 0, 1);
    padding-top: 2rem;
}

p.experience-right-title {
    font-size: 24px;
    font-weight: bold;
    padding: 1rem 0rem 2rem 2rem;
    text-transform: uppercase;
    color: rgba(179, 0, 0, 1)
}

p.education-right-title {
    font-size: 24px;
    font-weight: bold;
    padding: 1rem 0rem 2rem 2rem;
    text-transform: uppercase;
    color: rgba(179, 0, 0, 1)
}

.experience-contents,
.education-contents,
.awards-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: rgba(255, 0, 0, 1);
}

.exp-company-name,
.education-school-name,
.awards-company-name {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FDB44B;
    padding-bottom: .4rem;
}

.exp-time-period,
.educationp-time-period,
.awards-time-period {
    font-size: 18px;
    padding-bottom: 2rem;
    letter-spacing: 1px;
    line-height: 2rem;
}

.exp-position,
.education-subject,
.awards-name {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FDB44B;
    padding-bottom: .4rem;
}

.exp-desc,
.education-desc,
.awards-desc {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5rem;
    border-left: 3px solid #a5a3a3;
    padding-left: 5px;
}


/* Media queries */

@media screen and (max-width:780px) {
    .experience-contents,
    .education-contents,
    .awards-contents {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:780px) {
    .left-section {
        grid-column: span 3;
    }
    .right-section {
        grid-column: span 4;
    }
}

@media screen and (max-width:1200px) {
    .resume-contents {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:390px) {
    .resume-contents {
        width: 100%;
        margin: 0 auto;
    }
    .name {
        font-size: 20px;
    }
    .profession {
        font-size: 18px;
    }
    .left-title {
        font-size: 18px;
    }
    .right-title {
        font-size: 18px;
    }
    .contact-info ul li,
    .references ul li {
        font-size: 12px;
    }
    .contact-info ul li i,
    .references ul li i {
        /* padding-right: 1rem; */
        font-size: 12px;
    }
    .skills ul li p {
        font-size: 12px;
    }
    .about-me-contents {
        font-size: 16px;
        line-height: 1.5rem;
    }
    .exp-company-name,
    .education-school-name,
    .awards-company-name {
        font-size: 18px;
    }
    .exp-time-period,
    .educationp-time-period,
    .awards-time-period {
        font-size: 16px;
    }
    .exp-position,
    .education-subject,
    .awards-name {
        font-size: 18px;
    }
}

footer {
    height: 70px;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #fcff39;
}